main {
    max-width: 60vw;
}

.question {
    display: flex;
    flex-flow: column nowrap;
}

#name {
    flex: 1 1 auto;
}

.details {
    flex: 0 0 20px;
}

.buttons {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.score {
    width: 100px;
}

.btn-big {
    font-size: 1.5rem;
}

.buttons button {
    flex: 0 1 200px;
}

.hidden {
    display: none;
}
